#container #login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*margin-top: 10%;*/
  background: #fff;
  border-radius: 18px;
  padding: 15px;
  width: 380px;
  box-shadow: 0 0 15px #eee;
}

#login-page .login-header {
  display: flex;
  flex-direction: row;
  margin: 35px;
}

#login-page .login-header .hr-line {
  width: 5px !important;
  background: #00ebb0;
  margin-left: 15px;
  margin-bottom: -5px;
  border-radius: 10px;
}

#login-page .login-header .header-title {
  font-size: 25px;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 15px;
  color: #5733d1;
}

#login-page .login-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#login-page .login-form .login-desc {
  color: #bababa;
  padding: 0 10px;
}

#login-page .form-modal {
  margin-top: 10px;
}

#login-page .form-control {
  width: 314px;
  margin: 15px 0;
}

#login-page .form-control label {
  display: block;
  color: #aaa;
  padding: 5px 10px;
}

#login-page .form-control input {
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #eee;
  padding: 12px 18px;
  font-size: 16px;
  outline: none;
}

#login-page .form-control input:focus-visible {
  box-shadow: 0 0 0 2px rgba(87, 51, 209, .5);
}

#login-page .form-control.submit-btn {
  width: 350px;
}

#login-page .form-control.submit-btn button {
  width: 100%;
  background: #5733d1;
  color: #fff;
  font-size: 16px;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  outline: none !important;
}

#login-page .form-control.submit-btn button:hover {
  background: #4527ae;
}

#login-page .forgot-pass {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #5733d1;
  width: auto;
  outline: none;
}

#login-page .forgot-pass:hover {
  color: #4527ae;
}

#oauth-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 18px;
  padding: 15px;
  width: 380px;
  box-shadow: 0 0 15px #eee;
}

#oauth-alert .oauth-alert_animationLoader img {
  width: 100%;
  border-radius: 50%;
}

#oauth-alert .oauth-alert_animationLoader {
  display: flex;
  width: 130px;
  height: 130px;
  margin: 50px 0 20px;
  position: relative;
}
#oauth-alert .oauth-alert_animationLoader:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /*border-bottom: 0 solid #ffffff05;*/
  box-shadow:
          0 -10px 20px 20px #00ebb040 inset,
          0 -5px 15px 10px #00ebb050 inset,
          0 -2px 5px #00ebb080 inset,
          0 -3px 2px #00ebb0BB inset,
          0 2px 0 #00ebb0,
          0 2px 3px #00ebb0AA,
          0 5px 5px #00ebb090,
          0 10px 15px #00ebb060,
          0 10px 20px 20px #00ebb040;
  filter: blur(3px);
  animation: 1s rotate linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

#oauth-alert .oauth-alert_userFullName {
  display: flex;
  font-size: 22px;
  color: #333;
  font-weight: 500;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
}

#oauth-alert .oauth-alert_pageTitle {
  display: flex;
  font-size: 18px;
  color: #a7a7a7;
  padding: 10px 25px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}



#oauth-alert .form-control.submit-btn button {
  display: block;
  width: calc(100% - 60px);
  background: #5733d1;
  color: #fff;
  margin: 10px 30px;
  font-size: 16px;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none !important;
}

#oauth-alert .form-control.submit-btn button:hover {
  background: #4527ae;
}


@media screen and (max-width: 480px) {
  #container #login-page {
      background: #f4f4f4;
      box-shadow: none;
  }

  #login-page .form-control input {
      background: #fff;
  }
}
