#ranks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 100px;
}

#ranks .ranks-header {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#ranks .ranks-header .hr-line {
    width: 5px !important;
    background: #00ebb0;
    margin-left: 15px;
    margin-bottom: -5px;
    border-radius: 10px;
}

#ranks .ranks-header .header-title {
    font-size: 35px;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 15px;
    color: #3721d6;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#ranks .ranks-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

#ranks .row {
    display: flex;
    flex-direction: column;
}

#ranks .col.row {
    background: #ffffFF00 !important;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

#ranks .col {
    display: flex;
    flex-grow: 0;
    margin: 15px;
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 15px;
}

#ranks .row .col {
    box-shadow: 0 0 15px #eee;
}

#ranks .col-2 {
    flex-grow: 2 !important;
}

#ranks .col-3 {
    flex-grow: 3 !important;
}

#ranks .rank {
    width: 100%;
    margin: 5px 10px 2px;
}

#ranks .rank-title {
    color: #3721d6;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}

#ranks .rank-users {
    margin: 0 15px;
    padding: 0;
    padding-left: 10px;
}

#ranks .rank-top-users .rank-users .user-item:nth-child(1) .user-date .user-name,
#ranks .rank-top-users .rank-users .user-item:nth-child(1) .user-date .user-coins {
    /*background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #deb453 30%, #b5903c 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #b59e0b 62.5%, #5d4a1f 100%);*/
    background: -webkit-linear-gradient(-45deg, #FEDB37 0%, #deb453 8%, #b5903c 40%, #b59e0b 50%, #b5903c 60%, #deb453 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ranks .rank-top-users .rank-users .user-item:nth-child(2) .user-date .user-name,
#ranks .rank-top-users .rank-users .user-item:nth-child(2) .user-date .user-coins {
    /*background: radial-gradient(ellipse farthest-corner at right bottom, #eee 0%, #b5b5b5 8%, #858585 30%, #737373 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #a4a4a4 8%, #5f5f5f 25%, #4f4f4f 62.5%, #5f5f5f 100%);*/
    background: -webkit-linear-gradient(-45deg, #a4a4a4 0%, #6f6f6f 8%, #5c5c5c 50%, #6f6f6f 70%, #a4a4a4 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ranks .rank-top-users .rank-users .user-item:nth-child(3) .user-date .user-name,
#ranks .rank-top-users .rank-users .user-item:nth-child(3) .user-date .user-coins {
    /*background: radial-gradient(ellipse farthest-corner at right bottom, #e59318 0%, #ff8400 8%, #9f6528 30%, #83542b 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #d1a564 25%, #5d4a1f 62.5%, #5d4a1f 100%);*/
    background: -webkit-linear-gradient(-45deg, #dd7200 0%, #9f6528 10%, #83542b 50%, #d1a564 70%, #DD7200 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ranks .rank-users .user-item:first-child {
    margin-left: -5px !important;
}

#ranks .rank-users .user-item:first-child .user-date {
    text-indent: 5px;
}

#ranks .rank-users .user-item:first-child .user-coins {
    margin-right: -5px;
}

#ranks .rank-users .user-item:nth-child(10) {
    margin-left: 6px !important;
}

#ranks .rank-users .user-item:nth-child(10) .user-coins {
    padding-right: 6px;
}

#ranks .rank-top-users .rank-users .user-item + .user-item {
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
}

#ranks .rank-top-users .rank-users .user-item {
    margin-bottom: 10px;
}

#ranks .rank:not(.rank-top-users) .rank-users {
    list-style: none;
    margin-left: -10px;
}

#ranks .rank-users .user-item {
    width: 100%;
    font-size: 18px;
    margin: 10px 0;
}

#ranks .user-date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#ranks .user-date .user-name .verify-ion {
    margin-left: 5px;
    position: relative;
}

#ranks .user-date .user-name {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#ranks .user-date .user-coins {
    display: flex;
    flex-grow: 0;
}

@media screen and (max-width: 1400px) {
    .ranks-body  {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 948px) {
    #ranks {
        padding: 10px 50px;
    }
}

@media screen and (max-width: 728px) {
    #ranks {
        padding: 10px 10px;
    }

    #ranks .ranks-header {
        margin: 22px 0;
        transform: scale(0.95);
    }

    #ranks .col {
        margin: 10px 15px;
    }
}

@media screen and (max-width: 528px) {
}

@media screen and (max-width: 458px) {
    #ranks {
        padding: 10px 0;
    }

    #ranks .ranks-header {
        margin: 18px 0;
        transform: scale(0.8);
    }
}
